[submodule "quorum"]
	path = quorum
	url = /software/distr/quorum
[submodule "SuperReads"]
	path = SuperReads
	url = /software/distr/SuperReads
[submodule "wgs"]
	path = wgs
	url = /software/distr/wgs
[submodule "jellyfish"]
	path = jellyfish
	url = /software/distr/jellyfish
