[submodule "quorum"]
	path = quorum
	url = /software/distr/quorum
[submodule "SuperReads"]
	path = SuperReads
	url = /software/distr/SuperReads
[submodule "wgs"]
	path = CA
	url = /software/distr/wgs
[submodule "jellyfish"]
	path = jellyfish
	url = /software/distr/jellyfish
[submodule "PacBio"]
	path = PacBio
	url = /software/distr/PacBio
[submodule "wgs-8"]
	path = CA8
	url = /software/distr/wgs-8.git
[submodule "SOAPdenovo2"]
	path = SOAPdenovo2
	url = /software/distr/SOAPdenovo2.git
